# Modules
node_modules/*

# Log files
app_log.json

# CSS example file
style/simple.css

# JSON data files
data/SPT_Data/*

# Test files
test/*
ace/*

# SPT assets
src/assets/spt

# Distribution files
/dist/*


