/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  --mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  --border-width: 1px;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;
  }

  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

/* Make the body a nice central block */
body {
  color: var(--text);
  background-color: var(--bg);
  font-size: 1rem;
  line-height: 1.5;
  /* display: grid; */
  /* grid-template-columns: 1fr min(45rem, 90%) 1fr; */
  margin: 0;
}

/* Container for [aside] & [section] */
main {
  /* padding-top: 1.5rem; */
  margin: 2rem;
  width: 100%;

  display: flex;
  flex-wrap: nowrap;

  justify-content: stretch;

  /* stretch container items all to the same height */
  align-items: stretch;

  gap: 2rem;
}

aside {
  flex-basis: auto;
  align-content: stretch;
  /* 1st col in the container */
  order: 0;
  font-size: 1rem;
  /* width: 30%; */
  min-width: 15rem;
  max-width: 20rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

section {
  /* 2nd column item in the container */
  order: 2;
  /* border-top: var(--border-width) solid var(--border);
  border-bottom: var(--border-width) solid var(--border); */
  border: var(--border-width) solid var(--marked);
  padding: 1rem;
}

section>* {
  /* width: 1000px; */
  margin: 1rem 1rem;
}

/* Make the header bg full width, but the content inline with body */
body>header {
  background-color: var(--accent-bg);
  border-bottom: var(--border-width) solid var(--border);
  text-align: center;
  padding: 0 0.5rem 2rem 0.5rem;

}

body>header>*:only-child {
  margin-block-start: 2rem;
}

body>header h1 {
  max-width: 1200px;
  margin: 1rem auto;
}

body>header p {
  max-width: 40rem;
  margin: 1rem auto;
}

body>footer {
  margin-top: 4rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: var(--border-width) solid var(--marked);
}


/* article,
fieldset,
dialog {
  border: var(--border-width) solid var(--border);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

details {
  padding: 0.7rem 1rem;
}

summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.7rem 1rem;
  margin: -0.7rem -1rem;
  word-break: break-all;
}

details[open]>summary+* {
  margin-top: 0;
}

details[open]>summary {
  margin-bottom: 0.5rem;
}

details[open]> :last-child {
  margin-bottom: 0;
} */

/* Format forms */
textarea,
select,
input,
button,
.button {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5em;
  margin-bottom: 0.5rem;
  border-radius: var(--standard-border-radius);
  box-shadow: none;
  max-width: 100%;
  display: inline-block;
}

textarea,
select,
input {
  color: var(--text);
  background-color: var(--bg);
  border: var(--border-width) solid var(--border);
}

label {
  display: block;
}

textarea:not([cols]) {
  width: 100%;
}

/* Add arrow to drop-down */
/* select:not([multiple]) {
  background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
    linear-gradient(135deg, var(--text) 51%, transparent 49%);
  background-position: calc(100% - 15px), calc(100% - 10px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-inline-end: 25px;
} */

/* Makes input fields wider on smaller screens */
/* @media only screen and (max-width: 720px) {

  textarea,
  select,
  input {
    width: 100%;
  }
} */

/* Set a height for color input */
/* input[type="color"] {
  height: 2.5rem;
  padding: 0.2rem;
} */

/* do not show border around file selector button */
input[type="file"] {
  border: 0;
}

/* Misc body elements */
hr {
  border: none;
  height: var(--border-width);
  background: var(--border);
  margin: 1rem auto;
}

/* mark {
  padding: 2px 5px;
  border-radius: var(--standard-border-radius);
  background-color: var(--marked);
  color: black;
}

mark a {
  color: #0d47a1;
} */

/* img,
video {
  max-width: 100%;
  height: auto;
  border-radius: var(--standard-border-radius);
} */

/* figure {
  margin: 0;
  display: block;
  overflow-x: auto;
} */

/* figure>img,
figure>picture>img {
  display: block;
  margin-inline: auto;
} */

/* figcaption {
  position: sticky;
  left: 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-light);
  margin-block: 1rem;
} */

blockquote {
  margin-inline-start: 2rem;
  margin-inline-end: 0;
  margin-block: 2rem;
  padding: 0.4rem 0.8rem;
  border-inline-start: 0.35rem solid var(--accent);
  color: var(--text-light);
  font-style: italic;
}

cite {
  font-size: 0.9rem;
  color: var(--text-light);
  font-style: normal;
}

/* dt {
  color: var(--text-light);
} */

/* Use mono font for code elements */

kbd {
  color: var(--preformatted);
  border: var(--border-width) solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.4rem;
}

pre {
  padding: 1rem 1.4rem;
  /* max-width: 100%; */
  overflow: auto;
  color: var(--preformatted);
}

/* Fix embedded code within pre */
pre code {
  color: var(--preformatted);
  background: none;
  padding: 0;
}

/* Classes for notices */
/* .notice {
  background: var(--accent-bg);
  border: var(--border-width) solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 1.5rem;
  margin: 2rem 0;
} */

/* Print */
/* @media print {
  @page {
    margin: 1cm;
  }

  body {
    display: block;
  }

  body>header {
    background-color: unset;
  }

  body>header nav,
  body>footer {
    display: none;
  }

  article {
    border: none;
    padding: 0;
  }

  a[href^="http"]::after {
    content: " <" attr(href) ">";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a {
    text-decoration: none;
  }

  p {
    widows: 3;
    orphans: 3;
  }

  hr {
    border-top: var(--border-width) solid var(--border);
  }

  mark {
    border: var(--border-width) solid var(--border);
  }

  pre,
  table,
  figure,
  img,
  svg {
    break-inside: avoid;
  }

  pre code {
    white-space: pre-wrap;
  }
} */