/* Global variables. */
:root {

  /* #region ##  Layout  ## */

  /* Layout static sizes */
  --side-padding-min: 1rem;
  --aside-width-min: 15rem;
  --layout-min-width: 375px;
  --layout-side-padding-min: 1rem;
  --menu-height-min: 40px;
  --layout-max-width: 1440px;
  --menu-width-max: 1024px;
  /* Padding between elements */
  --layout-gap: 1rem;

  /* Size of empty space on either side of the layout / 2 */
  --layout-side-padding: max(var(--layout-side-padding-min),
      calc((100vw - 1440px + (2rem)) / 2));

  --side-padding-width: max(var(--side-padding-min), calc((100vw - var(--layout-max-width) + (2*var(--layout-gap))) / 2));

  --layout-width: calc(var(--layout-max-width) - 2*var(--layout-side-padding));

  --aside-width: max(var(--aside-width-min), calc(100vw - var(--layout-width)));

  /* Padding on the sides of the page content */
  --layout-spacing: 1rem;

  --header-height: 72px;
  --standard-border-radius: 5px;
  --border-width: 1px;
  --border-size: 1px;
  --line-height: 1rem;

  /* Clamp Function */
  /* clamp(min, preferred, max) */

  /* #endregion */

  /* #region ##  Fonts  ## */

  --sans-font: -apple-system, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI";
  --mono-font: "Fira Code", "FiraCode Nerd Font Mono", Menlo, Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  /* #endregion */

  /* #region ##  Theme (L)  ## */
  --bg: #fff;
  --bg-accent: #f5f7ff;
  --bg-accent-2: #f5f5f5;
  --bg-mdn: #18191b;
  --bg-mdn-accent: #212426;
  --bg-header: #fff;

  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;
  --text-hp: #d7d7d7;
  --content-border: #3f3f3f;
  --text-sidelink: #bcbcbc;

  /* Code Editor Tutorial */
  --panel: #14182b;
  --ok: #22c55e;
  --warn: #eab308;
  --err: #ef4444;
  --tut-bg: #0f1221;
  --tut-body-bg: #0b0f1d;
  --tut-radius: 18px;
  --tut-gap: 14px;

  /* Tree View Colors */
  --tree-bg: rgba(241, 241, 241, 0.8);
  --tree-text: var(--text);
  --tree-border: var(--text-light);
  --tree-caret: #696;
  --tree-caret-last: #656;

  /* Svg page bg colors */
  --page-svg-background: #212121;
  --page-svg-foreground: #292828;

  /* #endregion */

  /* #region ##  Text/Headers  ## */
  --text-h1-l: 2.5rem;
  --text-h2-l: 2rem;
  --text-h3-l: 1.5rem;
  --text-h4-l: 1.25rem;

  --text-h1-m: 2rem;
  --text-h2-m: 1.5rem;
  --text-h3-m: 1.2rem;
  --text-h4-m: 1.1rem;

  /* Standard text */
  --text-sz-xl: 1.25rem;
  --text-sz-l: 1.15rem;
  --text-sz-m: 1rem;
  --text-sz-s: 0.9rem;
  --text-sz-xs: 0.75rem;

  /* #endregion */

  /* #region ##  Images/Icons  ## */

  /* treeview */
  --img-tree-open: url('../assets/images/expand-collapse.svg');
  --img-tree-close: url('../assets/images/expand-collapse.svg');
  --img-tree-node: url('../assets/images/curly_brackets.png');

  /* #endregion */
}

/* #region ---  @media (dark)  --- */

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* --bg: #212121; */
    /* --bg-accent: #2b2b2b; */
    /* --bg-header: #212121; */
    --bg: #18191b;
    --bg-accent: #191a1b;
    --bg-header: #191a1b;

    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --text-accent: #fff;
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;

    /* Tree View */
    --tree-bg: rgba(42, 42, 42, 0.88);
    --tree-text: rgba(241, 241, 241, 0.8);
    --tree-border: var(--text-light);
    --tree-caret: #696;
    --tree-caret-last: #656;
  }

  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* #endregion */

/* #region ---  element resets  --- */

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Make the body a nice central block */
body {
  margin: 0;
  color: var(--text);
  font-size: var(--text-sz-l);
}

/* Format links */
a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

/* Format buttons */
button {
  font-size: inherit;
  font-family: inherit;
  box-shadow: none;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

details {
  margin: 0;
  padding: 0;
}

article,
fieldset,
dialog {
  border: var(--border-width) solid var(--border);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

textarea,
select,
input {
  color: var(--text);
  background-color: var(--bg);
  border: var(--border-width) solid var(--border);
}

/* do not show border around file selector button */
input[type="file"] {
  border: 0;
}

/* Prevent long strings from overflowing container */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Line height */
h1,
h2,
h3,
h4 {
  line-height: 1;
}

/* Format headers */
h1 {
  font-size: var(--text-h1-l);
}

h2 {
  font-size: var(--text-h2-l);
  /* margin-top: 3rem; */
}

h3 {
  font-size: var(--text-h3-l);
  /* margin-top: 3rem; */
}

h4 {
  font-size: var(--text-h4-l);
}

/* 
h5 {  font-size: 1.15rem;}
h6 {  font-size: 0.96rem;} 
*/

p {
  margin: 0;
}

/* #endregion */

/* #region ---  Inline Classes  --- */

.row {
  display: flex;
  flex-direction: row;
}

.stack {
  display: flex;
  flex-direction: column;
}

.just-c {
  justify-content: center;
}

.just-s {
  justify-content: flex-start;
}

.just-end {
  justify-content: end;
}

.just-ar {
  justify-content: space-around;
}

.just-even {
  justify-content: space-evenly;
}

.just-sb {
  justify-content: space-between;
}

.just-self-s {
  justify-self: flex-start;
}

.just-self-e {
  justify-self: flex-end;
}

.align-c {
  align-items: center;
}

.align-s {
  align-items: flex-start;
}

.align-e {
  justify-self: flex-end;
}

.v-align {
  vertical-align: middle;
}


/* #endregion */

/* #region ---  Page Layout  --- */

body>.page {
  margin: 0;
}

body>.page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* background-color: #212121; */
  background-color: var(--bg-mdn);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23292828' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.2;
  z-index: -1;
}

/* .page>div.layout {
  margin: 0;
  padding-left: max(var(--layout-side-padding), var(--layout-side-padding-min));
  padding-right: max(var(--layout-side-padding), var(--layout-side-padding-min));
} */

/* #endregion */

/* #region ---  Header  --- */

/* Make the header bg full width, but the content inline with body */
header {
  max-width: 100vw;
  background-color: var(--bg-header);

  /* Gap before page content. */
  margin-bottom: var(--layout-gap);
  border-bottom: var(--content-border) solid var(--border-size);
}

.menu-wrap {
  min-height: var(--header-height);

  /* Keep width as wide as with page content. */
  padding-left: var(--layout-side-padding);
  padding-right: var(--layout-side-padding);
}

/* SPT Logo container */
.logo {
  /* Keeps this all the way to the left side. */
  padding-left: var(--layout-gap);


  /* Size an element inline. */
  /* inline-size: 36px; */
  /* inline-width: 36px; */

  /* Apply an image as a logo */
  /* centered, covering all, non-repeating. */
  /* background: url('./something') center / cover no-repeat;  */
}

.logo>img {
  height: 40px;
}

/* Hamburger button */
.menu-hb {
  padding-right: calc(var(--layout-gap) / 2);
}


.menu-hdr {
  max-width: var(--menu-width-max);
  min-height: var(--menu-height-min);
  color: var(--);
  font-family: monospace;
}

.menu-btn {
  border: none;
  border-bottom: #292828 solid 1px;

  margin-left: 0.5rem;
  margin-right: 0.5rem;

  background-color: inherit;
}

/* .arrow {
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

/* #endregion */

/* #region ---  <main>  --- */

/* Content container */
main {
  padding-left: max(var(--layout-side-padding), var(--layout-side-padding-min));
  padding-right: max(var(--layout-side-padding), var(--layout-side-padding-min));
  /* min-height: 100vh; */
  /* max-width: calc(100vw - 2rem); */
  /* max-width: 1400px; */
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

/* main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  z-index: -1;
} */

pre {
  overflow: auto;
  color: var(--preformatted);
}

/* Embedded code blocks */
code {
  color: var(--marked);
  font-family: var(--mono-font);
  font-size: var(--text-sz-l);
  padding: 0;
}

/* #endregion */

/* #region ---  <aside>  --- */

/* The left-hand panel of main area */
aside {
  max-width: 25rem;
  padding: var(--layout-gap);
  /* actually this should have right side border */
  /* because they would come/go together. */
  border-left: var(--bg-accent) solid 0.5px;
  font-size: var(--text-sz-l);
}

aside>.stack {
  gap: var(--layout-gap);
}

.sideNav {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

/* Aside buttons */
.sideLink {
  margin: 0;
  font-size: var(--text-sz-xl);
  border: var(--bg-accent) solid 0.5px;
  padding: 0.5rem 1rem;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--bg);
}

aside button:hover {
  /* background-color: rgb(51, 51, 51); */
  background-color: var(--bg-mdn-accent);
}

.sideLink img {
  width: 48px;
  height: 48px;
  background-color: var(--bg-accent);
}

.sideLink span {
  color: var(--text-sidelink);
  font-family: monospace;
}

.stack>.tip {
  line-height: calc(2 * var(--line-height));
}

aside textarea {
  min-height: 6rem;
  font-size: var(--text-sz-m);
  border: var(--bg-accent) solid 0.5px;
  min-width: 100%;
}

.muted {
  color: var(--text-light);
}

/* #endregion */

/* #region ---  <section>  --- */

/* The right-hand panel of main area */
section {
  /* Border between <aside> & <section> columns */
  border-left: 0.5px solid var(--bg-accent);
  border-right: 0.5px solid var(--bg-accent);

  padding: var(--layout-gap);
  font-size: var(--text-sz-l);

  /* Code block editor */
  /* background: linear-gradient(180deg, var(--tut-body-bg), var(--tut-bg) 35%); */
}

/* Button - action */
.action {}

/* #endregion */


/* #region ---  Tab Panels  --- */

/*  Elmnt  Size   */
/*  aside  250px   */
/*   main  1000px  */

.title-wrap {
  width: 100%;
  align-items: center;

  display: grid;
  grid-template-columns: auto 120px 120px 120px;
  gap: 5px 10px;
  padding: var(--layout-gap) 0;
  border-bottom: var(--bg-accent) solid 0.5px;
}

.title-wrap span {
  min-height: 32px;
  font-family: monospace;
}

.diff-wrap {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--layout-gap) 0;
  border-bottom: var(--bg-accent) solid 0.5px;
}

.diff-wrap>.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr [col-start]);
  gap: 5px 5px;
}

.tab-wrap {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: var(--layout-gap) 0;
  border-bottom: var(--bg-accent) solid 0.5px;
}

.tab-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr [col-start]);
  column-gap: 5px;
  row-gap: 5px;
}

.btn,
.tab,
.action,
.select,
.title-wrap button {
  font-family: monospace;
  min-height: 32px;
  min-width: 100px;
}

.tab.active {
  color: var(--text-hp);
  /* background: linear-gradient(180deg rgba(125, 211, 252, 0.18), rgba(96, 165, 250, 0.18)); */
  background: linear-gradient(180deg, var(--bg-accent), rgba(50, 160, 90, 0.3));
}


.editor-wrap {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 14px;
  overflow: hidden;
  min-height: 280px;
  background-color: #0b1020;
}

.editor {
  inline-size: 100%;
  block-size: 380px;
}

iframe.preview {
  inline-size: 100%;
  block-size: 380px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 14px;
  background-color: var(--text-hp);
}


.btnFace {
  font-family: monospace;
  color: var(--text-hp);
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0px;
  color: var(--text-hp);
  background-color: var(--bg-mdn);

  /* background: inherit; */
}

button.tab {
  /* margin: 4px; */
  padding: 4px;
  border: none;
  color: var(--text-hp);
  background-color: var(--bg-mdn);
}

.action {}

.select {

  border: none;


}

.btn.ok {
  padding: 5px;
}






/* #endregion */


/* #region ---  Card Panel  --- */

.card_panel {

  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 1200px;
  border: rgb(40, 40, 40) solid 1px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-shrink: 0;
  column-gap: 8px;
  row-gap: 8px;
  /* background: url('../assets/images/textured-brown.jpg'); */

}

/* .card_panel:first-child {
  background-color: #0d47a1;
} */

.card_panel>.card {

  /* margin-right: 8px;
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 16px; */

  max-width: 128px;
  /* height: 160px; */

  text-wrap-mode: wrap;
  word-break: break-all;
  border: var(--bg-accent) solid 0.5px;

  /* background-color: #424242; */
  /* background-color: rgba(42, 42, 42, 0.2); */
  /* color: rgb(180, 147, 77); */
  display: flex;
  flex-direction: column;
}

.card:hover {
  /* background-color: #3f3f3f; */
  background-color: rgba(42, 42, 42, 0.4);
}

.card_panel h2 {
  height: 30px;
  width: 128px;

  color: var(--text-sidelink);
  font-size: 17px;
  font-family: monospace;

  text-align: center;
  text-wrap-mode: wrap;
  word-break: break-word;
  align-self: center;
  background: transparent;
}

/* .card h2 {
  text-wrap-mode: wrap;
  word-break: break-word;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
} */

.card img {
  vertical-align: bottom;
  width: 128px;
  height: 128px;
  background-color: rgba(16, 16, 16, 0.6);
}

/* #endregion */

textarea.settings {
  font-size: 16px;
  line-height: 1.5;
  color: var(--code);
  height: 80vh;
  width: min(calc(100vw - 15rem - 4*var(--layout-gap)), 1000px);
}

footer {
  margin-top: 2rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: var(--content-border) solid 1px;
}

/* #region ---  @media desktop (half-screen)  --- */

/* Half full-screen size (1440p) */
@media only screen and (max-width: 1080px) {
  header {
    margin-bottom: 0;
  }

  .menu-wrap {
    font-size: var(--text-sz-m);
    min-height: 56px;
  }

  .hb svg {
    height: 48px;
    width: 48px;
  }

  .logo>img {
    height: 36px;
  }

  .menu-hdr,
  .hb {
    max-height: 48px;
  }

  #nav_profile,
  #nav_loot,
  #nav_equipment {
    display: none;
  }

  .arrow {
    display: none;
  }

  .eye_candy img {
    display: none;
  }

  h1 {
    font-size: var(--text-h1-m);
  }

  h2 {
    font-size: var(--text-h2-m);
  }

  h3 {
    font-size: var(--text-h3-m);
  }

  h4 {
    font-size: var(--text-h4-m);
  }

  aside {
    max-width: 15rem;
    font-size: var(--text-sz-s);
  }

  section {
    font-size: var(--text-sz-m);
  }

  ul,
  li,
  p {
    padding: 0;
    margin: 0;
  }

  .sideNav img {
    width: 32px;
    height: 32px;
  }

  img.eye_candy {
    display: none;
  }

  .sideLink {
    font-size: var(--text-sz-m);
    padding: 0.25rem 0.25rem;
  }

  .aside code {
    font-size: var(--text-sz-s);
  }

  /* Hotkey tip formatting */
  .kbd {
    font-size: var(--text-sz-xs);
    padding-top: 0;
    line-height: 0.5rem;
  }
}

/* #endregion */

/* #region @media - Smarphones */

/* Tablet / Smarphone screen size(s) */
@media only screen and (max-width: 750px) {

  .menu-wrap {
    padding: 0;
  }

  .logo {
    padding: 0;
  }

  #nav_globals,
  #nav_ai {
    display: none;
  }

  .info_block img,
  img.eye_candy {
    display: none;
  }

  section {
    padding: 0;
    font-size: var(--text-sz-s);
  }

  aside {
    display: none;
  }

  textarea.settings {
    font-size: 15px;
    line-height: 1.25;
    height: 80vh;
    width: calc(100vw - 3*var(--layout-gap));
  }
}

/* #endregion */