/* Global variables. */
:root {
  /* Set sans-serif & mono fonts */
  --sans-font: -apple-system, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI";
  --mono-font: "Fira Code", "FiraCode Nerd Font Mono Light", Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  --standard-border-radius: 5px;
  --border-width: 1px;

  /* Default (light) theme */
  --bg: #fff;
  --accent-bg: #f5f7ff;
  --text: #212121;
  --text-light: #585858;
  --border: #898EA4;
  --accent: #0d47a1;
  --accent-hover: #1266e2;
  --accent-text: var(--bg);
  --code: #d81b60;
  --preformatted: #444;
  --marked: #ffdd33;
  --disabled: #efefef;

  /* Custom colors */
  --bg-white246: rgb(246, 246, 246);

  /* <h1>,<h2>,<h3>... */
  --text-h1-l: 2.5rem;
  --text-h2-l: 2rem;
  --text-h3-l: 1.5rem;
  --text-h4-l: 1.25rem;

  --text-h1-m: 2rem;
  --text-h2-m: 1.5rem;
  --text-h3-m: 1.2rem;
  --text-h4-m: 1.1rem;



  /* Standard text sizes (large, med, small) */
  --text-sz-xl: 1.25rem;
  --text-sz-l: 1.15rem;
  --text-sz-m: 1rem;
  --text-sz-s: 0.9rem;
  --text-sz-xs: 0.75rem;



  /* Tree View Colors */
  --tree-background-clr: rgba(241, 241, 241, 0.8);
  --tree-text-clr: var(--text);

  --tree-border-clr: var(--text-light);
  --tree-caret-clr: #696;
  --tree-caret-last: #656;

  /* Tree View Node Icons */
  --img-tree-open: url('../assets/images/expand-collapse.svg');
  --img-tree-close: url('../assets/images/expand-collapse.svg');
  --img-tree-node: url('../assets/images/curly_brackets.png');


}

/* ---  CSS Combinators  --------------------------------------
|       |
|   >	  |   Direct children
|--------------------------------------------------------------
|   _   |   (space) Descendants of element (anywhere)
|--------------------------------------------------------------
|   +	  |   Next sibling. Selects first <el> immediately after 
|--------------------------------------------------------------
|   ~   |   Subsequent-sibling combinator.  ( p ~ ul )	
|       |   Selects all <ul> elements preceded by a <p>
|-------------------------------------------------------------- */

/* #region ---  Dark theme  --- */
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bg: #212121;
    --accent-bg: #2b2b2b;
    --text: #dcdcdc;
    --text-light: #ababab;
    --accent: #ffb300;
    --accent-hover: #ffe099;
    --accent-text: var(--bg);
    --code: #f06292;
    --preformatted: #ccc;
    --disabled: #111;

    /* Tree View */
    --tree-background-clr: rgba(42, 42, 42, 0.88);
    --tree-text-clr: rgba(241, 241, 241, 0.8);
    --tree-border-clr: var(--text-light);
    --tree-caret-clr: #696;
    --tree-caret-last: #656;

  }

  /* Add a bit of transparency so light media isn't so glaring in dark mode */
  img,
  video {
    opacity: 0.8;
  }
}

/* #endregion */

/* #region ---  Basic '<element>' Setup  --- */

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

/* Reset box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Format links & buttons */
a,
a:visited {
  color: var(--accent);
}

a:hover {
  text-decoration: none;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Make the body a nice central block */
body {
  margin: 0;
  color: var(--text);
  background-color: var(--bg);
  font-size: var(--text-sz-l);
  /* line-height: 1.5; */
}

details {
  margin: 0;
  padding: 0;
}

section>div.test details[open] {
  background-color: var(--accent-bg);
}

article,
fieldset,
dialog {
  border: var(--border-width) solid var(--border);
  padding: 1rem;
  border-radius: var(--standard-border-radius);
  margin-bottom: 1rem;
}

/* Format forms */
button,
.button {
  font-size: inherit;
  font-family: inherit;
  box-shadow: none;
}

textarea,
select,
input {
  color: var(--text);
  background-color: var(--bg);
  border: var(--border-width) solid var(--border);
}

/* do not show border around file selector button */
input[type="file"] {
  /* border line-width = 0 */
  border: 0;
}

label {
  display: block;
  padding-bottom: 0.5rem;
}

/* Prevent long strings from overflowing container */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Fix line height when title wraps */
h1,
h2,
h3,
h4 {
  line-height: 1;
}

/* Format headers */
h1 {
  font-size: var(--text-h1-l);
}

h2 {
  font-size: var(--text-h2-l);
  /* margin-top: 3rem; */
}

h3 {
  font-size: var(--text-h3-l);
  /* margin-top: 3rem; */
}

h4 {
  font-size: var(--text-h4-l);
}

/* 
h5 {  font-size: 1.15rem;}
h6 {  font-size: 0.96rem;} 
*/

p {
  margin: 0;
}

hr {
  border: none;
  height: var(--border-width);
  background: var(--border);
  margin: 1rem auto;
}

figure {
  margin: 0;
  display: block;
  overflow-x: auto;
}

figure>img,
figure>picture>img {
  display: block;
  margin-inline: auto;
}

figcaption {
  position: sticky;
  left: 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-light);
  margin-block: 1rem;
}

blockquote {
  margin-inline-start: 2rem;
  margin-inline-end: 0;
  margin-block: 2rem;
  padding: 0.4rem 0.8rem;
  border-inline-start: 0.35rem solid var(--accent);
  color: var(--text-light);
  font-style: italic;
}

cite {
  font-size: 0.9rem;
  color: var(--text-light);
  font-style: normal;
}

/* #endregion */

/* #region ---  <header>  --- */

/* Make the header bg full width, but the content inline with body */
header {
  background-color: var(--accent-bg);
  border-bottom: var(--border-width) solid var(--border);
  /* padding: ?(top left bottom right)? */
  /* padding: 0 0.5rem 2rem 0.5rem; */
  /* padding: 0 0.5rem 0.5rem 0.5rem; */
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

header>.container {
  /* border: var(--border-width) dashed var(--code); */
  margin: 0 auto;
  min-width: calc(100vw - 2rem);

  /* Center items within this container | ---- | */
  display: flex;
  justify-content: center;
}

header>.container>* {
  flex-basis: 10%;
  flex-grow: 1;
  flex-shrink: 0.5;
}

.container>.brand {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
}

/* Header Logo & Title row  */
.container>.title {
  text-align: center;
  /* border: var(--border-width) solid var(--marked); */
  color: #699eef
}

/* Wrapper containing the open/load buttons */
.container>.buttons {
  /* border: var(--border-width) dashed #ffb300; */
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding-right: 2rem;
  /* flex-direction: row; */
}

header button {
  /* padding: 0.5rem; */
  padding: 0.5rem 1rem;
  background-color: hsla(300 50% 20% / 0.15);
  border: #2b2b2b solid 1px;

  /* border-radius: var(--standard-border-radius); */
  --font-family: Menlo, Roboto Mono, monospace;
  box-shadow: none;
}

header button:hover {
  /* background-color: hsla(300 50% 41.2% / 0.44); */
  background-color: hsla(35 50% 50% / 0.92);
  /* background-color: var(--accent); */
}

#openFile {
  color: var(--text-light);
  /* display: none; */
}

/* .row {
  display: inline-flex;
  flex-direction: row;
} */

.history {
  /* justify-self: center;
  align-self: center; */
  margin: 0 auto;
}

/* #endregion */

/* #region ---  <main>  --- */

/* Container for [aside] & [section] (full screen width) */
main {
  /* border: var(--border-width) dashed var(--code); */
  margin: 0 auto;
  max-width: calc(100vw - 2rem);
  min-height: 70vh;

  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

pre {
  /* padding: 1rem 1.4rem; */
  /* max-width: 100%; */
  overflow: auto;
  color: var(--preformatted);
}

/* Fix embedded code within pre */
code {
  /* color: var(--preformatted); */
  color: var(--marked);
  font-family: var(--mono-font);
  font-size: var(--text-sz-l);
  /* background: none; */
  padding: 0;
}

.muted {
  /* font-size: 1rem; */
  color: var(--text-light);
}

/* Classes for notices */
.notice {
  background: var(--accent-bg);
  border: var(--border-width) solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 1.5rem;
  margin: 2rem 0;
}

/* #endregion */

/* #region ---  <aside>  --- */

/* The left-hand panel of main area */
aside {
  /* Debug: border */
  /* border: var(--border-width) dashed var(--marked); */

  max-width: 25rem;
  font-size: var(--text-sz-l);
  padding-left: 1rem;
  padding-right: 1rem;
}

.sideNav {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* padding: 1rem 0 1rem 0; */
  padding-bottom: 1rem;
  gap: 0.1rem;
}

.sideLink {
  margin: 0;
  font-size: var(--text-sz-xl);
  border: var(--accent-bg) solid 0.5px;
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  gap: 1rem;
  align-items: center;
  background-color: rgb(41, 41, 41);

  /* Accidentally centered the image AND text */
  /* text-align: center; */
}

aside button:hover {
  background-color: rgb(51, 51, 51);
}

.sideLink img {
  width: 48px;
  height: 48px;
  background-color: var(--accent-bg);
}

.sideLink span {
  color: #bcbcbc;
  font-family: monospace;
}

aside textarea {
  min-height: 6rem;
  font-size: var(--text-sz-m);
  border: var(--accent-bg) solid 0.5px;
  width: 100%;
}

/* #endregion */

/* #region --- <section>  --- */

/* The right-hand panel of main area */
section {
  /* Border between <aside> & <section> columns */
  border-left: 0.5px solid var(--accent-bg);
  border-right: 0.5px solid var(--accent-bg);
  /* padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem; */
  padding: 2rem 2rem;
  font-size: var(--text-sz-l);
  max-width: 1400px;
  /* width: 100%; */
}

section .two_columns {
  display: flex;
  flex-basis: 50%;
  flex-grow: 1;
  gap: 1rem;

  padding-bottom: 2rem;
  border-bottom: var(--accent-bg) solid 0.5px;
}

/* #region ---  Info Block  --- */

section .info_block {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

section .info_block p {
  line-height: 2rem;
  display: inline-block;
}

section .info_block img {
  height: 40px;
}

section .info_block ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.info_block ul li {
  padding-top: 1rem;
}

.info_block li img {
  vertical-align: middle;
}

/* Use mono font for code elements */
.kbd {
  color: var(--preformatted);
  border: var(--border-width) solid var(--preformatted);
  border-bottom: 3px solid var(--preformatted);
  border-radius: var(--standard-border-radius);
  padding: 0.1rem 0.4rem;
}

section .eye_candy {
  width: 100%;
  height: 100%
}

/* #endregion ---  Info Block --- */

/* #region ---  Tree View  --- */

section div.test summary {
  cursor: pointer;
  font-weight: bold;
  padding: 0.7rem 1rem;
  margin: -0.7rem -1rem;
  word-break: break-all;
}

/* section div.treeView summary::before {
  background: #ddd url('src/assets/images/treeview_plus.svg') 0 0;
}
 */
/* section div.treeView details[open]>summary+* {
  margin-top: 0;
} */

section div.test details[open]>summary {
  margin-bottom: 0.5rem;
  /* border-bottom: var(--preformatted) solid var(--border-width); */
  background-color: var(--bg);
}

section div.test details[open]> :last-child {
  margin-bottom: 0;

}


section>div.treeView {
  /* background-color: var(--accent-bg); */
  display: block;
  margin-top: 2rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  /* padding-right: 2rem; */

  /* background-color: var(--text);
  color: var(--bg); */
  background-color: var(--tree-background-clr);
  color: var(--tree-text-clr);
  max-width: 85%;

}

/* Sets the padding of the FIRST <ul> of the tree close left
against the div.  Otherwise it would be inherited by .tree ul 

Add to this value to push to the right.  | --> (tree)    |
*/
div.treeView>ul {
  padding-left: 0;
}

.tree {
  --spacing: 1.5rem;
  --radius: 10px;
  --tree-border-clr: var(--text-light);
  --tree-caret-clr: #696;
  --tree-caret-last: #656;
}

/* TEST */
.tree ul li:first-child {
  padding-top: 0;
}



.tree li {
  display: block;
  /* Makes the magic happen. (No circles without it) */
  position: relative;
  /* Old padding left calc( ... -2px). Not sure why but dont need it anymore */
  padding-left: calc(2 * var(--spacing) - var(--radius) - 0px);

  /* padding-top: 5px; */
}

.tree img {
  vertical-align: middle;
}

/* Spaces every <ul> after the root to the right.
Creates for a visible path to connect the nodes */
.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
  /* MAGIC PROPERTY: for height spacing the list */
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Connects path to outer list-items */
.tree ul li {
  border-left: 2px solid var(--tree-border-clr);

}

/* Gets rid of little hanging border at the last item of each list */
.tree ul li:last-child {
  border-color: transparent;
}

/* Creates a line-path connecting all list-items */
.tree ul li::before {

  /* REMOVING this breaks the path */
  content: '';

  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 1px);
  height: calc(var(--spacing) + 1px);
  border: solid var(--tree-border-clr);
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
  padding-left: 4px;
  /* margin-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
}

.tree>ul::before {
  /* z-index: 1; */
  /* background: var(--tree-caret-clr) url('../src/assets/images/expand-collapse.svg') 0 0; */
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  /* outline: none; */
  /* background-color: rgba(60, 60, 60, 0.2); */
  background: linear-gradient(90deg, rgba(30, 30, 30, 0.6), rgba(42, 42, 42, 0.4));
}

/* NO DIFFERENCE? */
/* .tree summary:focus-visible {
  outline: 1px dashed var(--tree-caret-clr);
} */

/* Create a round shape before each summary,
and after each <li> */
.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;

  /* REMOVED this, no difference maybe? */
  /* background-size: 100%; */

  background-repeat: no-repeat;
  background-position: 0px 0px;

  /* NODE background color & img */
  background: var(--img-tree-node);
  /* background-color: var(--text); */
  background-color: var(--tree-text-clr);
}

/* Adds a caret (+) to each list-item that contains a details element. */
.tree summary::before {
  z-index: 1;
  background: var(--tree-caret-clr) var(--img-tree-open);
}

/* Changes caret to (-) when list-item is open */
.tree details[open]>summary::before {
  /* background: var(--img-tree-close); */
  background-position: calc(-2 * var(--radius)) 0;
}

/* #endregion Tree View */

section>.card_panel {

  /* margin: 1rem 0.5rem; */
  margin-top: 12px;
  margin-bottom: 12px;

  max-width: 1200px;
  /* min-height: 800px; */
  border: rgb(40, 40, 40) solid 1px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-shrink: 0;
  align-items: center;

  row-gap: 16px;
  background: url('../assets/images/textured-brown.jpg');

}

/* .card_panel:first-child {
  background-color: #0d47a1;
} */

.card_panel>.card {

  margin-right: 8px;
  margin-left: 8px;
  margin-top: 16px;
  margin-bottom: 16px;

  max-width: 128px;

  text-wrap-mode: wrap;
  word-break: break-all;

  /* background-color: #424242; */
  background-color: rgba(42, 42, 42, 0.3);
  color: rgb(180, 147, 77);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_panel h2 {
  display: block;
  max-width: 128px;
  text-wrap-mode: wrap;
  word-break: break-word;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
}

/* .card h2 {
  text-wrap-mode: wrap;
  word-break: break-word;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 20px;
} */

.card img {
  width: 128px;
  height: 128px;
  background-color: rgba(16, 16, 16, 0.6);
}

/* #endregion */

/* TODO: unneccessary? */
/* .tip {
  font-size: 0.8rem;
  color: var(--text-light);
} */

footer {
  margin-top: 2rem;
  padding: 2rem 1rem 1.5rem 1rem;
  color: var(--text-light);
  font-size: 0.9rem;
  text-align: center;
  border-top: var(--border-width) solid var(--preformatted);
}

/* Add arrow to drop-down */
/* select:not([multiple]) {
  background-image: linear-gradient(45deg, transparent 49%, var(--text) 51%),
    linear-gradient(135deg, var(--text) 51%, transparent 49%);
  background-position: calc(100% - 15px), calc(100% - 10px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  padding-inline-end: 25px;
} */


/* #region ---  @media  --- */

/* Half full-screen size (1440p) */
@media only screen and (max-width: 1000px) {
  header>.container {
    font-size: var(--text-sz-m);
  }

  main {
    /* max-width: calc(100vw - 2rem); */
    gap: 1rem;
  }

  h1 {
    font-size: var(--text-h1-m);
  }

  h2 {
    font-size: var(--text-h2-m);
  }

  h3 {
    font-size: var(--text-h3-m);
  }

  h4 {
    font-size: var(--text-h4-m);
  }

  aside {
    max-width: 15rem;
    font-size: var(--text-sz-m);
  }

  section {
    margin: 0 auto;
    font-size: var(--text-sz-m);
  }

  .sideNav img {
    width: 32px;
    height: 32px;
  }

  .sideLink {
    font-size: var(--text-sz-l);
  }

  code {
    font-size: var(--text-sz-s);
  }

  /* Hotkey tip formatting */
  .kbd {
    border-bottom: 2px solid var(--preformatted);
    font-size: 0.8rem;
    padding-top: 0;
    line-height: 2;
  }
}


/* Tablet / Smarphone screen size(s) */
@media only screen and (max-width: 720px) {

  textarea,
  select,
  input {
    width: 100%;
  }

  aside,
  section {
    font-size: var(--text-sz-s);
  }
}

/* #endregion */